<?xml version="1.0" encoding="UTF-8"?>
<jcr:root xmlns:sling="http://sling.apache.org/jcr/sling/1.0"
          xmlns:jcr="http://www.jcp.org/jcr/1.0"
          xmlns:nt="http://www.jcp.org/jcr/nt/1.0"
          xmlns:cq="http://www.day.com/jcr/cq/1.0"
          xmlns:granite="http://www.adobe.com/jcr/granite/1.0"
          jcr:primaryType="nt:unstructured"
          sling:resourceType="granite/ui/components/coral/foundation/fixedcolumns"
          jcr:title="Mega menu settings">
  <items jcr:primaryType="nt:unstructured">
    <column
      jcr:primaryType="nt:unstructured"
      sling:resourceType="granite/ui/components/coral/foundation/container">
      <items jcr:primaryType="nt:unstructured">
        <hideInNavigation
              jcr:primaryType="nt:unstructured"
              sling:resourceType="granite/ui/components/coral/foundation/form/checkbox"
              cq:showOnCreate="{Boolean}true"
              text="Hide in navigation"
              name="./hideInNavigation"
              value="{Boolean}true"
              uncheckedValue="{Boolean}false" />
		<hideAllPagesInSubNavigation
              jcr:primaryType="nt:unstructured"
              sling:resourceType="granite/ui/components/coral/foundation/form/checkbox"
              cq:showOnCreate="{Boolean}true"
              text="Hide all pages under this page in the menu and submenu."
              name="./hideAllPagesInSubNavigation"
              value="{Boolean}true"
              uncheckedValue="{Boolean}false" />
      </items>
    </column>
  </items>
</jcr:root>
